/* Border color classes */

.br-white {
  border: 1px solid #ffffff !important;
}

.br-grey {
  border: 1px solid #eeeeee;
}

.br-black {
  border: 1px solid #555555;
}

.br-red {
  border: 1px solid #f75353;
}

.br-green {
  border: 1px solid #51d466;
}

.br-lblue {
  border: 1px solid #32c8de;
}

.br-blue {
  border: 1px solid #609cec;
}

.br-orange {
  border: 1px solid #f78153;
}

.br-yellow {
  border: 1px solid #fcd419;
}

.br-purple {
  border: 1px solid #cb79e6;
}

.br-rose {
  border: 1px solid #ff61e7;
}

.br-brown {
  border: 1px solid #d08166;
}
