/* Social Media */

.facebook {
  background: #3280e7;
  &:hover {
    background: #134fa0;
  }
}

.twitter {
  background: #32c8de;
  &:hover {
    background: #188392;
  }
}

.google-plus {
  background: #f96f4a;
  &:hover {
    background: #eb6440;
  }
}

.linkedin {
  background: #729fda;
  &:hover {
    background: #3069b6;
  }
}

.pinterest {
  background: #ed5441;
  &:hover {
    background: #b72411;
  }
}

.dropbox {
  background: #32c8de;
  &:hover {
    background: #188392;
  }
}

.bitcoin {
  background: #f8a841;
  &:hover {
    background: #cc7607;
  }
}

.foursquare {
  background: #22bed4;
  &:hover {
    background: #146f7c;
  }
}

.flickr {
  background: #ff61e7;
  &:hover {
    background: #fa00d4;
  }
}

.github {
  background: #666666;
  &:hover {
    background: #333333;
  }
}

.instagram {
  background: #d6917a;
  &:hover {
    background: #b35637;
  }
}

.skype {
  background: #32c8de;
  &:hover {
    background: #188392;
  }
}

.tumblr {
  background: #84a1c8;
  &:hover {
    background: #476d9f;
  }
}

.vimeo {
  background: #32c8de;
  &:hover {
    background: #188392;
  }
}

.dribbble {
  background: #ff2edf;
  &:hover {
    background: #c700a9;
  }
}

.youtube {
  background: #ed5441;
  &:hover {
    background: #b72411;
  }
}
