/************************
Designed by : http://responsivewebinc.com
************************/
/* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* General */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 23px;
  color: #666;
  background: #fff;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 2px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #666;
}
h1 {
  font-size: 30px;
  line-height: 45px;
}
h2 {
  font-size: 25px;
  line-height: 40px;
}
h3 {
  font-size: 22px;
  line-height: 37px;
}
h4 {
  font-size: 18px;
  line-height: 33px;
}
h5 {
  font-size: 15px;
  line-height: 30px;
}
h6 {
  font-size: 13px;
  line-height: 28px;
}
p {
  padding: 0;
  margin: 2px 0;
  margin-bottom: 5px;
  line-height: 28px;
}
a {
  color: #777;
  text-decoration: none;
}
a:hover,a:active,a:focus {
  color: #999;
  text-decoration: none;
  outline: 0;
}
hr {
  padding: 0;
  margin: 10px 0;
  border-top: 0;
  border-bottom: 1px solid #eee;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
/* Text color classes */
.white {
  color: #fff !important;
}
.grey {
  color: #eee !important;
}
.black {
  color: #555 !important;
}
.red {
  color: #f75353 !important;
}
.green {
  color: #51d466 !important;
}
.lblue {
  color: #32c8de !important;
}
.blue {
  color: #609cec !important;
}
.orange {
  color: #f78153 !important;
}
.yellow {
  color: #fcd419 !important;
}
.purple {
  color: #cb79e6 !important;
}
.rose {
  color: #ff61e7 !important;
}
.brown {
  color: #d08166 !important;
}
/* Background color classes */
.bg-white {
  background-color: #fff !important;
}
.bg-grey {
  background-color: #eee !important;
}
.bg-black {
  background-color: #555 !important;
}
.bg-red {
  background-color: #f75353 !important;
}
.bg-green {
  background-color: #51d466 !important;
}
.bg-lblue {
  background-color: #32c8de !important;
}
.bg-blue {
  background-color: #609cec !important;
}
.bg-orange {
  background-color: #f78153 !important;
}
.bg-yellow {
  background-color: #fcd419 !important;
}
.bg-purple {
  background-color: #cb79e6 !important;
}
.bg-rose {
  background-color: #ff61e7 !important;
}
.bg-brown {
  background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
  border: 1px solid #fff !important;
}
.br-grey {
  border: 1px solid #eee;
}
.br-black {
  border: 1px solid #555;
}
.br-red {
  border: 1px solid #f75353;
}
.br-green {
  border: 1px solid #51d466;
}
.br-lblue {
  border: 1px solid #32c8de;
}
.br-blue {
  border: 1px solid #609cec;
}
.br-orange {
  border: 1px solid #f78153;
}
.br-yellow {
  border: 1px solid #fcd419;
}
.br-purple {
  border: 1px solid #cb79e6;
}
.br-rose {
  border: 1px solid #ff61e7;
}
.br-brown {
  border: 1px solid #d08166;
}
/* Button classes */
.btn {
  position: relative;
  border-radius: 2px;
}
.btn.btn-no-border {
  border: 0 !important;
}
/* Button colors */
.btn.btn-white {
  color: #666;
  background: #fff;
  border: 1px solid #ddd;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active {
  color: #666;
  background: #f7f7f7;
}
.btn.btn-grey {
  color: #666;
  background: #eee;
  border: 1px solid #d5d5d5;
}
.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey.active,
.btn.btn-grey:active {
  color: #999;
  background: #d5d5d5;
}
.btn.btn-black {
  color: #fff;
  background: #666;
  border: 1px solid #4d4d4d;
}
.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.active,
.btn.btn-black:active {
  color: #fff;
  background: #4d4d4d;
}
.btn.btn-red {
  color: #fff;
  background: #ed5441;
  border: 1px solid #e52d16;
}
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.active,
.btn.btn-red:active {
  color: #fff;
  background: #e52d16;
}
.btn.btn-green {
  color: #fff;
  background: #51d466;
  border: 1px solid #30c247;
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
  color: #fff;
  background: #30c247;
}
.btn.btn-lblue {
  color: #fff;
  background: #32c8de;
  border: 1px solid #1faabe;
}
.btn.btn-lblue:hover,
.btn.btn-lblue:focus,
.btn.btn-lblue.active,
.btn.btn-lblue:active {
  color: #fff;
  background: #1faabe;
}
.btn.btn-blue {
  color: #fff;
  background: #609cec;
  border: 1px solid #3280e7;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue.active,
.btn.btn-blue:active {
  color: #fff;
  background: #3280e7;
}
.btn.btn-orange {
  color: #fff;
  background: #f8a841;
  border: 1px solid #f69110;
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.active,
.btn.btn-orange:active {
  color: #fff;
  background: #f69110;
}
.btn.btn-yellow {
  color: #fff;
  background: #fcd419;
  border: 1px solid #dfb803;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:active {
  color: #fff;
  background: #dfb803;
}
.btn.btn-purple {
  color: #fff;
  background: #cb79e6;
  border: 1px solid #ba4ede;
}
.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.active,
.btn.btn-purple:active {
  color: #fff;
  background: #ba4ede;
}
.btn.btn-rose {
  color: #fff;
  background: #ff61e7;
  border: 1px solid #ff2edf;
}
.btn.btn-rose:hover,
.btn.btn-rose:focus,
.btn.btn-rose.active,
.btn.btn-rose:active {
  color: #fff;
  background: #ff2edf;
}
.btn.btn-brown {
  color: #fff;
  background: #d08166;
  border: 1px solid #c4613f;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
  color: #fff;
  background: #c4613f;
}
/* Label */
.label {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  border-radius: 2px;
}
/* Label sizes */
.label.label-xs {
  padding: 1px 5px;
  font-size: 10px;
  line-height: 12px;
}
.label.label-sm {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 15px;
}
.label.label-lg {
  padding: 5px 9px;
  font-size: 13px;
  line-height: 23px;
}
/* Label colors */
.label.label-white {
  color: #666 !important;
  background: #f7f7f7;
}
.label.label-grey {
  color: #666 !important;
  background: #eee;
}
.label.label-black {
  color: #fff;
  background: #666;
}
.label.label-red {
  color: #fff;
  background: #ed5441;
}
.label.label-green {
  color: #fff;
  background: #51d466;
}
.label.label-lblue {
  color: #fff;
  background: #32c8de;
}
.label.label-blue {
  color: #fff;
  background: #609cec;
}
.label.label-orange {
  color: #fff;
  background: #f8a841;
}
.label.label-yellow {
  color: #fff;
  background: #fcd419;
}
.label.label-purple {
  color: #fff;
  background: #cb79e6;
}
.label.label-rose {
  color: #fff;
  background: #ff61e7;
}
.label.label-brown {
  color: #fff;
  background: #d08166;
}
/* Badges */
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  color: #fff;
  border-radius: 10px;
}
.badge.badge-white {
  color: #666;
  background: #fff;
}
.badge.badge-grey {
  color: #a2a2a2;
  background: #eee;
}
.badge.badge-black {
  color: #fff;
  background: #666;
}
.badge.badge-red {
  color: #fff;
  background: #ed5441;
}
.badge.badge-green {
  color: #fff;
  background: #51d466;
}
.badge.badge-lblue {
  color: #fff;
  background: #32c8de;
}
.badge.badge-blue {
  color: #fff;
  background: #609cec;
}
.badge.badge-orange {
  color: #fff;
  background: #f8a841;
}
.badge.badge-yellow {
  color: #fff;
  background: #fcd419;
}
.badge.badge-purple {
  color: #fff;
  background: #cb79e6;
}
.badge.badge-rose {
  color: #fff;
  background: #ff61e7;
}
.badge.badge-brown {
  color: #fff;
  background: #d08166;
}
.btn .badge {
  position: absolute;
  top: -13px;
  right: -8px;
}
/* Social Media */
.facebook {
  background: #3280e7;
}
.facebook:hover {
  background: #134fa0;
}
.twitter {
  background: #32c8de;
}
.twitter:hover {
  background: #188392;
}
.google-plus {
  background: #f96f4a;
}
.google-plus:hover {
  background: #eb6440;
}
.linkedin {
  background: #729fda;
}
.linkedin:hover {
  background: #3069b6;
}
.pinterest {
  background: #ed5441;
}
.pinterest:hover {
  background: #b72411;
}
.dropbox {
  background: #32c8de;
}
.dropbox:hover {
  background: #188392;
}
.bitcoin {
  background: #f8a841;
}
.bitcoin:hover {
  background: #cc7607;
}
.foursquare {
  background: #22bed4;
}
.foursquare:hover {
  background: #146f7c;
}
.flickr {
  background: #ff61e7;
}
.flickr:hover {
  background: #fa00d4;
}
.github {
  background: #666;
}
.github:hover {
  background: #333;
}
.instagram {
  background: #d6917a;
}
.instagram:hover {
  background: #b35637;
}
.skype {
  background: #32c8de;
}
.skype:hover {
  background: #188392;
}
.tumblr {
  background: #84a1c8;
}
.tumblr:hover {
  background: #476d9f;
}
.vimeo {
  background: #32c8de;
}
.vimeo:hover {
  background: #188392;
}
.dribbble {
  background: #ff2edf;
}
.dribbble:hover {
  background: #c700a9;
}
.youtube {
  background: #ed5441;
}
.youtube:hover {
  background: #b72411;
}

/* UI X */
body {
  background: url("../images/login/background.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login {
  margin: 50px 0;
}
.login .ui-form {
  max-width: 45%;
  padding: 60px 35px;
  margin: 0 auto;
  background: rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255,255,255,.05);
}
.login .ui-form h3 {
  margin: 15px 0 25px 0;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  text-transform: uppercase;
}
.login form {
  margin-bottom: 15px;
  color: #fff;
}
.login form input,
.login form textarea {
  padding: 6px 5px;
  color: #fff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,.5);
  border-radius: 0;
  box-shadow: none !important;
}
.login form ::-webkit-input-placeholder {
  color: rgba(255,255,255,.5);
}
.login form ::-moz-placeholder {
  color: rgba(255,255,255,.5);
}
.login form :-ms-input-placeholder {
  color: rgba(255,255,255,.5);
}
.login form .btn {
  padding: 10px 20px;
  margin-top: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 25px;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
.login form .btn:hover {
  color: #666;
  background: #fff;
}
.login .social a {
  display: block;
  padding: 8px 20px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
}
